{{define "footer"}}
<footer>
    <hr />
    <div class="footer_links">
        <a href="http://{{.Onion}}/">TOR</a> | yet another project by <a href="https://ramsay.xyz">SIMON RAMSAY</a> |
        <a href="https://github.com/nexus-uw/mini-madeuce">CODE</a> | 2021 - CURRENT YEAR
        <a href="https://unlicense.org/">UNLICENSE</a>
    </div>
</footer>
{{end}}
