{{define "head"}}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css" >
<meta name="referrer" content="never">
<meta http-equiv="Content-Security-Policy" content="default-src 'none'; style-src
 'self'; form-action 'self'; img-src data:;">
 {{end}}
