<!DOCTYPE html>
<html lang="en">

<head>

    <title>mini-madeuce</title>
    {{template "head"}}

</head>

<body>
{{template "header"}}
<main>
    <form action="/createShortie" method="POST" >
        <div>
            <label for="url">url</label>
            <input name="url" type="url" placeholder="https://mokin-token.ramsay.xyz"/>
        </div>
        <div>
            <label for="url">exipires after max number of hits</label>
            <input name="maxHits" type="number" min="1" max="10" value="1"/>
        </div>
        <div>
            <label for="url">expiry (hours)</label>
            <input name="expiry" type="number" value="1" max="720" />
        </div>
        <input type="submit" value="createShortie">
    </form>
</main>

{{template "footer" }}
</body>
</html>
